.code-container {
    height: 80vh;
    width: 70vw;
    background-color: var(--black);
    color: var(--white);
    font-family: serif;
    font-size: 20px;
    padding: 30px 50px;
    overflow: scroll;
}

.code-line {
    margin-bottom: 5px;
}

.code-line__index {
    padding-right: 10px;
    color: var(--gray);
    cursor: pointer;
}

.code-line--highlighted {
    background-color: var(--white);
    color: var(--black);
}

.code-line-wrapper {
    display: flex;
    flex-direction: column;
}